{% extends "base.html" %}
{% block title %}Cadastrar ou Editar Sala{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col">
                <h1>{{ 'Editar Sala' if sala else 'Cadastrar Sala' }}</h1>
                <p>Utilize o formulário abaixo para {{ 'editar uma sala' if sala else 'cadastrar uma sala' }}.</p>
            </div>
        </div>
        <div>
            <div class="col">
                <form action="{{ url_for('editar_sala', id=sala['id']) if sala else url_for('cadastrar_sala') }}" method="post">
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo</label>
                        <select class="form-select" id="tipo" name="tipo">
                            <option value="" {% if not sala %}selected{% endif %}></option>
                            <option value="Laboratório de Informática" {% if sala and sala.tipo == 'Laboratório de Informática' or tipo == 'Laboratório de Informática' %}selected{% endif %}>Laboratório de Informática</option>
                            <option value="Laboratório de Química" {% if sala and sala.tipo == 'Laboratório de Química' or tipo == 'Laboratório de Química' %}selected{% endif %}>Laboratório de Química</option>
                            <option value="Sala de Aula" {% if sala and sala.tipo == 'Sala de Aula' or tipo == 'Sala de Aula' %}selected{% endif %}>Sala de Aula</option>
                        </select>
                    </div>      
                    <div class="mb-3">
                        <label for="capacidade" class="form-label">Capacidade</label>
                        <input type="number" class="form-control" name="capacidade" id="capacidade" value="{{ sala.capacidade if sala else capacidade }}">
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label">Descrição</label>
                        <textarea class="form-control" name="descricao" id="descricao" cols="30" rows="10">{{ sala.descricao if sala else descricao }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-dark">{{ 'Atualizar' if sala else 'Cadastrar' }}</button>
                </form>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger mt-3 d-flex justify-content-between align-items-center" role="alert">
                        <div>
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% endblock %}
