{% extends "base2.html" %}
{% block title %}Cadastro{% endblock %}

{% block content %}
  <div class="card position-absolute top-50 start-50 translate-middle w-75">
    <div class="card-body">
      <h5 class="card-title">Cadastro</h5>
      <form class="card-text" action="{{ url_for('cadastro') }}" method="post">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
          <label for="senha" class="form-label">Senha</label>
          <input type="password" class="form-control" name="senha" id="senha">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-dark">Cadastrar</button>
        </div>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert alert-danger mt-3 d-flex justify-content-between align-items-center" role="alert">
            <div>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
