{% extends "base2.html" %}
{% block title %}Cadastro{% endblock %}

{% block content %}
  <div class="card position-absolute top-50 start-50 translate-middle w-75">
    <div class="card-body">
      <h5 class="card-title">Cadastro</h5>
      <form class="card-text" action="/templates/login.html" method="get">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input type="email" class="form-control" name="nome" id="nome">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="mb-3">
          <button type="submit" class="btn btn-dark">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}