{% extends "base.html" %}
{% block title %}Reservas{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h1>Reservas</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      </div>
      <div class="col">
        <button class="btn btn-dark" type="submit">Filtrar</button>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
{% endblock %} 